/*google font for all*/
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;

}

h1, h2 {
    color: rgb(249, 249, 249);
    font-family: 'DotGothic16', sans-serif;

}






























/*

section {
    height: 100vh;
  }

  .score {
    color: blueviolet;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .score h2 {
    font-size: 30px;
  }

  .score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }

/*css for responsive images
#reg-img {
    max-width: 33%;
    height: auto;
    transform: rotate(35deg);
    margin-right: 10px; /* Adjust the margin to create space between images */

  
  /* Mirror hand 
  #mirror-image {
    transform: scaleX(-1) rotate(35deg);
    height: auto;
    max-width: 33%;
  }
  
  /* Container for hands 
  .hands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%; /* Ensure container doesn't exceed viewport width */
    /*margin: 0 auto;
    /*overflow-x:  hidden; Hide horizontal overflow */
  
  