/*google font for all*/
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.game {
    flex-grow: 1; /* Allow the game section to grow to fill the available space */
}

h1 {
    text-align: center;
    font-size: 70px;
    color: rgb(249, 249, 249);
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 2px;
    margin: 0;
    
}

h2, p {
    color: rgb(249, 249, 249);
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 2px;
    
}

button {
    font-family: 'DotGothic16', sans-serif;
    font-size: 14px; /* Adjust the font size as needed */
    letter-spacing: 2px; /* Adjust the letter spacing as needed */
    color: rgb(91, 181, 255);
    cursor: pointer;
    border: 2px solid; /* Adjust the border size as needed */
    padding: 0.2em 0.4em; /* Adjust the padding as needed */
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}


.score {
    display: flex;
    justify-content:space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
  }

  .score h2 {
    font-size: 20px;
    color: rgb(91, 181, 255);
    margin: 0;

  }

  .score p {
    text-align: center;
    font-size: 20px;
    color: rgb(91, 181, 255);
    margin: 0;
    
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;

  }

/*css for responsive images*/
.player-hand {
    max-width: 25%;
    height: auto;
    transform: rotate(35deg);
    margin-right: 10px; /* Adjust the margin to create space between images */
    padding: 10px;
    border-radius: 50%;
    margin: 0;
   /* border: 2px solid rgb(249, 249, 249); */
 
}

.computer-hand, #mirror-image {
    height: auto;
    max-width: 25%; 
    padding: 10px;
    transform: scaleX(-1) rotate(35deg); /* Mirror the tilt for the mirrored image */
    border-radius: 50%;
    margin: 0;
   /* border: 2px solid rgb(249, 249, 249); */
    
}

/* Container for hands */
#hands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw; /* Ensure the container doesn't exceed viewport width */
    margin: 0;
    overflow: hidden; /* Hide both horizontal and vertical overflow */
}


.resetGame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-top: auto; /* Push the resetGame section to the bottom */
}

  
  